<i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-base">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 footer-center text-left">
                        <img width="120" src="static/images/logo.png" alt="" />

                    </div>
                    <div class="col-md-6 footer-left text-left">
                        <p>Plateforme de présantant les indicateurs de mesure de l'internet au Bénin</p>
                        <div class="tag-row">
                            <span>support@internetmesure.bj</span>
                            <span>(+229) 67 01 58 80</span>
                        </div>
                    </div>
                    <div class="col-md-3 footer-left text-right text-left-sm">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook">
                                <i class="fa fa-facebook text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter">
                                <i class="fa fa-twitter text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google">
                                <i class="fa fa-google-plus text-xs circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin">
                                <i class="fa fa-linkedin text-xs circle"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    ©2020 Tous Droits Réservés  <span>Powered By <a href="#">LTD</a></span>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="static/HTWF/scripts/font-awesome/css/font-awesome.css">
        <script async src="static/HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="static/HTWF/scripts/imagesloaded.min.js"></script>
        <script src="static/HTWF/scripts/parallax.min.js"></script>
        <script src="static/HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script async src="static/HTWF/scripts/isotope.min.js"></script>
        <script async src="static/HTWF/scripts/php/contact-form.js"></script>
        <script async src="static/HTWF/scripts/jquery.progress-counter.js"></script>
        <script async src="static/HTWF/scripts/jquery.tab-accordion.js"></script>
        <script async src="static/HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script async src="static/HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="static/HTWF/scripts/social.stream.min.js"></script>
        <script src="static/HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="static/HTWF/scripts/google.maps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="static/HTWF/scripts/smooth.scroll.min.js"></script>
        <script src='static/HTWF/scripts/jquery.bootgrid.min.js'></script>
    </footer>