<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BIM - Benin Internet Measurement</title>
    <meta name="description" content="Multipurpose HTML template.">
    <script src="static/HTWF/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="static/HTWF/scripts/bootstrap/css/bootstrap.css">
    <script src="static/HTWF/scripts/script.js"></script>
    <link rel="stylesheet" href="static/HTWF/style.css">
    <link rel="stylesheet" href="static/HTWF/css/content-box.css">
    <link rel="stylesheet" href="static/HTWF/css/image-box.css">
    <link rel="stylesheet" href="static/HTWF/css/animations.css">
    <link rel="stylesheet" href="static/HTWF/css/components.css">
    <link rel="stylesheet" href="static/HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="static/HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="static/HTWF/scripts/php/contact-form.css">
    <link rel="icon" href="static/images/favicon.png">
    <link rel="stylesheet" href="static/skin.css">
</head>